apiVersion: apps/v1
kind: Deployment
metadata:
  name: "quiz-{{ .Release.Name }}"
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: "quiz"
    app.kubernetes.io/instance: "{{ .Release.Name }}"
    app.kubernetes.io/version: "{{ .Chart.AppVersion }}"
    app.kubernetes.io/managed-by: "{{ .Release.Service }}"
    app.kubernetes.io/part-of: "tryit"
    app.kubernetes.io/env: "{{ .Values.environment | default "prod" }}"
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  revisionHistoryLimit: 12
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: "quiz"
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 25%
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "quiz"
      annotations:
        prometheus.io/path: "/metrics/"
        prometheus.io/port: "8000"
        prometheus.io/scrape: "true"
    spec:
      initContainers:
      - name: wait-for-migrator-completion
        image: postgres:15-alpine
        command: ['sh', '-c', 'until psql -h postgres -U {{ .Values.env.POSTGRES_USER }} -d {{ .Values.env.POSTGRES_DB }} -c "SELECT 1 FROM {{ .Values.env.POSTGRES_TBL }} LIMIT 1"; do echo "Waiting for migrator to complete database schema initialization..."; sleep 5; done; echo "Database schema ready."']
        env:
          - name: PGPASSWORD
            value: "{{ .Values.env.POSTGRES_PASSWORD }}"
      containers:
      - name: "quiz"
        image: "{{ .Values.image.name }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy }}"
        env:
          - name: DB_URL
            value: "{{ .Values.env.DB_URL }}"
          - name: TEST_DB_URL
            value: "{{ .Values.env.TEST_DB_URL }}"
          - name: CORS_ORIGINS
            value: "{{ .Values.env.CORS_ORIGINS }}"
          - name: JWT_SECRET_KEY
            value: "{{ .Values.env.JWT_SECRET_KEY }}"
          - name: S3_REGION
            value: "{{ .Values.env.S3_REGION }}"
          - name: S3_ENDPOINT_URL
            value: "{{ .Values.env.S3_ENDPOINT_URL }}"
          - name: S3_BUCKET
            value: "{{ .Values.env.S3_BUCKET }}"
          - name: AWS_ACCESS_KEY_ID
            value: "{{ .Values.env.AWS_ACCESS_KEY_ID }}"
          - name: AWS_SECRET_ACCESS_KEY
            value: "{{ .Values.env.AWS_SECRET_ACCESS_KEY }}"
          - name: MAX_IMAGE_SIZE
            value: "{{ .Values.env.MAX_IMAGE_SIZE }}"
          - name: ENVIRONMENT
            value: "{{ .Values.env.ENVIRONMENT }}"
          - name: DEBUG
            value: "{{ .Values.env.DEBUG }}"
        ports:
        - name: http
          containerPort: 8000
        readinessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 15
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 15
          periodSeconds: 30
          timeoutSeconds: 2
          failureThreshold: 6
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
