/* styles/ShowLeaderBoard.css */
.leaderboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #de8d4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.leaderboard-title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Fredoka', sans-serif;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.leaderboard-row {
  background: #1f1f1f;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Fredoka', sans-serif;
}

.leaderboard-next-button {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  background: #1f1f1f;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
