:root {
  --orange: #D38E5A;
  --bage: #F9F3EB;
  --dark: #2A2B2B;
}

.game-process-container {
  height: 50vw;
  justify-content: center;
}

.options-grid-player {
  background-color: var(--bage);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10% 25%;
  gap: 1vw;
}

.game-process {
  background-color: var(--orange);
  padding: 3vw;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  height: 50vw;
}

.options-grid {
  background-color: var(--bage);
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 0 25%; */
  /* margin-bottom: -10%; */
  /* gap: 1vw; */
}
.controller-question-title {
  padding-top: 20px;
  color: var(--bage);
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 2rem;
    margin: 1vh 0 ;
  }
  .question-image {
    width: 50%;
    /* box-sizing: border-box; */
    height: 100%; /* или 100%, если нужно растягивать по высоте */
    border-radius: 8px;
    margin: 2px;
    align-self: center;
    object-fit: cover;
    object-position: center;
  }
  
}

.button-group {
    margin: 1vw 1vw;
    justify-self:flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vh;

    button {
        background-color: var(--dark);
        color: var(--bage);
        border-radius: 15px;
        padding: 1vw;
        min-width: 10vw;
        font-size: 28px;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease, background-color 0.2s ease;

        &:hover:not(:disabled) {
            background-color: #1c1c1c;
            transform: translateY(-2px);
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.waiting-text {
  font-size: 1.5rem;
  color: #F9F3EB;
  text-align: center;
  margin-top: 3vh;
}

.waiting-text {
  font-size: 1.5rem;
  color: #F9F3EB;
  text-align: center;
  margin-top: 3vh;
}
