:root {
    --orange: #D38E5A;
    --bage: #F9F3EB;
    --dark: #2A2B2B;
    --btn-hover: #4f4d4d;
    --light-gray: #C6BDB3;
    --gray: #5D5C5D;
    background-color: var(--orange);
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: Jua;
}



.homepage-main-content {
    display: flex;
    height: 100vh;
    background-color: var(--orange);
    color: var(--bage);

    .left-side {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            position: relative;
            display: block;
            text-align: center;
            justify-items: center;
            margin: 25% ;
            width: 100%;
            
            h1 {
                text-align: start;
                font-family: Jua, sans-serif;
                font-size: 60px;
                color: var(--bage);
            }

            .button-group {
                margin: 5vw 0;
                display: flex;
                justify-content: left;
                
                button {
                    background-color: var(--dark);
                    color: var(--bage);
                    border-radius: 15px;
                    padding: 1vw;
                    min-width: 10vw;
                    margin-right:2vw;
                    font-size: 36px;
                    border: none;
                    cursor: pointer;
                    transition: transform 0.2s ease, background-color 0.2s ease;

                    &:hover:not(:disabled) {
                        background-color: #1c1c1c;
                        transform: translateY(-2px);
                    }

                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .right-side {
        width: 50%;
        
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: center;
        }
        .image-container {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


.create-session-main-content {
    display: flex;
    height: 100vh;
    background-color: var(--orange);
    color: var(--bage);

    .left-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8vw;

        .title {
            h2 {
                font-size: 32px;
                line-height: 1.4;
                margin-bottom: 4vh;
            }
            max-width: 60%;
        }

        .button-group {
            margin: 5vw 0;
            display: flex;
            flex-direction: column;
            gap: 2vh;

            button {
                background-color: var(--dark);
                color: var(--bage);
                border-radius: 15px;
                padding: 1vw;
                min-width: 10vw;
                font-size: 28px;
                border: none;
                cursor: pointer;
                transition: transform 0.2s ease, background-color 0.2s ease;

                &:hover:not(:disabled) {
                    background-color: #1c1c1c;
                    transform: translateY(-2px);
                }

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }

    .right-side {
        width: 50%;
        height: 100vh;
        padding-right: 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .quiz-list-container {
            background-color: var(--bage);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center; /* Center horizontally */
            padding: 5vw;
            height: 75%;
            border-radius: 20px;
            width: 100%;
            max-width: 28vw;
            display: flex;
            flex-direction: column;
            gap: 1vh;

            .quiz-search-panel{
                padding: 0;
                margin: 0;
                text-align: center;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    width: 93%;
                    padding: 1vh 1vw;
                    font-size: 18px;
                    border: none;
                    border-radius: 10px;
                }

                .quiz-list {
                    overflow: visible;
                }
                

                .quiz-item {
                    text-align: left;
                    width: 100%;
                    background-color: var(--gray);
                    color: var(--bage);
                    padding: 1.2vh 1vw;
                    margin: 1vh 0;
                    border-radius: 10px;
                    cursor: pointer;
                    font-size: 20px;
                    transition: background-color 0.2s ease, transform 0.2s ease;

                    &.selected {
                        background-color: var(--dark);
                        font-weight: bold;
                        transform: scale(1.02);
                    }

                    &:hover {
                        background-color: var(--btn-hover);
                        transform: scale(1.02);
                    }
                }
            }
        }
    }
}


.joingame-main-content {
    display: flex;
    height: 100vh;
    background-color: var(--orange);
    color: var(--bage);

    .left-side {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            position: relative;
            display: block;
            text-align: left;
            justify-items: left;
            margin-left: 25%;
            margin-right: 5%;
            
            h1 {
                text-align: start;
                font-family: Jua, sans-serif;
                font-size: 48px;
                color: var(--bage);
                margin-bottom: 9vw;
            }
            .code-input {
                    padding: 1vw;
                    font-size: 36px;
                    border: none;
                    border-radius: 15px;
                    background-color:  var(--gray);
                    color: rgb(252, 252, 252);
                    max-width: 300px;
                    margin-bottom: 1vw;
                    text-align: center;

            }
            .button-group {
                margin: 3vw 0;
                display: flex;
                justify-content: left;
                
                button {
                    background-color: var(--dark);
                    color: var(--bage);
                    border-radius: 15px;
                    padding: 1vw;
                    min-width: 10vw;
                    margin-right:2vw;
                    font-size: 36px;
                    border: none;
                    cursor: pointer;
                    transition: transform 0.2s ease, background-color 0.2s ease;

                    &:hover:not(:disabled) {
                        background-color: #1c1c1c;
                        transform: translateY(-2px);
                    }

                    &:disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    .right-side {
        width: 50%;
        
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: center;
        }
        .image-container {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.playgame-main-content {
    display: flex;
    height: 100vh;
    background-color: var(--orange);
    color: var(--bage);
    align-items: center;
    justify-content: left;
    .title {
        position: relative;
        display: block;
        text-align: left;
        justify-items: left;
        margin-left: 12.5%;
        margin-right: 5%;
        
        h1 {
            text-align: start;
            font-family: Jua, sans-serif;
            font-size: 64px;
            color: var(--bage);
            margin-bottom: 9vw;
        }
        .code-input {
                padding: 1vw;
                font-size: 36px;
                border: none;
                border-radius: 15px;
                background-color:  var(--gray);
                color: rgb(252, 252, 252);
                max-width: 400px;
                margin-bottom: 1vw;
                text-align: center;

        }
        .button-group {
            margin: 3vw 0;
            display: flex;
            justify-content: left;
            
            button {
                background-color: var(--dark);
                color: var(--bage);
                border-radius: 15px;
                padding: 1vw;
                min-width: 10vw;
                margin-right:2vw;
                font-size: 36px;
                border: none;
                cursor: pointer;
                transition: transform 0.2s ease, background-color 0.2s ease;

                &:hover:not(:disabled) {
                    background-color: #1c1c1c;
                    transform: translateY(-2px);
                }

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }

}
