apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tryit-tls
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
spec:
  secretName: tryit-tls
  duration: 2160h  # 90d
  renewBefore: 360h  # 15d
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
  - {{ .Values.ingress.host}}
